:root {
  --default-font-family: "Nunito", sans-serif;
}
body {
  text-align: center;
  background-color: #f3ecec;
}
h1,
h2 {
  font-family: var(--default-font-family);
  font-weight: bold;
}
h1 {
  font-size: 72px;
  line-height: 98.21px;
}
h3 {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 20px;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 15px;
  line-height: 42px;
}
nav a {
  font-family: var(--default-font-family);
  font-weight: 700;
  color: #272142;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav .active {
  color: #662eed;
}

nav {
  padding: 50px 0;
  
}
.me {
  font-family: var(--default-font-family);
  font-size: 64px;
  margin-top: 188px;
  line-height: 87.3px;
}
.intro {
  font-size: 18px;
  line-height: 30px;
}
.about-section-content {
  text-align: left;
  margin: 30px;
  max-width: 100%;
  max-height: auto;
}
.communication {
  margin-top: 186px;
}
p {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 35px;
}
.title {
  background-color: darkgray;
  padding-top: 47px;
  padding-bottom: 47px;
}
.myPhoto {
  width: 460px;
  height: 450px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 126px;
  background: url(image.png);
  border-radius: 12px;
}
img {
  max-width: 100%;
  height: auto;
  background: url(image.png);
  border-radius: 12px;
}
figcaption {
  font-family: var(--default-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 32.74px;
  color: #272142;
}
.contact {
  font-family: var(--default-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 24.55px;
  color: #662eed;
}
.content {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 30px;
}
.explain {
  font-size: 16px;
  line-height: 30px;
  color: #272142;
  text-align: justify;
  padding-top: 20px;
}
.follow {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #272142;
}
i {
  font-size: 16px;
  line-height: 18.4px;
  color: #272142;
}

@media (max-width: 960px) {
  body {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  h1 {
    font-size: 42px;
    line-height: 48px;
  }
  h2 {
    font-size: 25px;
  }
  .me {
    margin-top: 30px;
    font-size: 54px;
  }
  .myPhoto {
    margin-top: 60px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
  }
  .about-section-content {
    text-align: center;
  }
  figcaption {
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
  }
  figure {
    margin: 20px 20px;
  }
  .title {
    margin-top: 35px;
    padding-top: 27px;
    padding-bottom: 27px;
  }
}
