:root {
  --default-font-family: "Nunito", sans-serif;
}
body {
  text-align: center;
}
h1,
h2 {
  font-family: var(--default-font-family);
}
h1 {
  font-size: 72px;
  line-height: 98.21px;
}
p {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 35px;
}
.title {
  background-color: darkgray;
  margin-top: 135px;
  padding-top: 47px;
  padding-bottom: 47px;
}
